In [3]:
age = 20
price = 19.95
first_name = "Mosh"
is_online = False
print(age

30

In [5]:
name = input("What is your name? ")
print("Hello " + name)

What is your name?  John

HelloJohn

In [14]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
print("Sum: " + str(sum))

First:  10
Second:  20

TypeError: 'float' object is not callable

In [16]:
try:
    first = input("First: ")
    second = input("Second: ")
    
    # Convert input to float
    first_float = float(first)
    second_float = float(second)

    # Calculate the sum
    sum_result = first_float + second_float

    print("Sum:", sum_result)

except ValueError:
    print("Error: Please enter valid numeric values.")

First:  10
Second:  20

TypeError: 'float' object is not callable

In [ ]:
radius = input("")
area = 3.14159 * radius**2

print(area)

In [ ]:
counter = 1

while counter < 16:
    print(counter)
    counter += 1